<h1 style="color: red">*ngContent</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">iPhone</span>
        <span class="giaTien">16,000,000 vnđ</span>
      </app-item-card>
		</div>
		<div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">Samsung</span>
        <span class="giaTien">15,000,000 vnđ</span>
      </app-item-card>
		</div>
		<div class="col-sm-4">
      <app-item-card>
        <span class="tenSP">Oppo</span>
        <span class="giaTien">10,000,000 vnđ</span>
      </app-item-card>
    </div>
  </div>
</div>
